# option 设置pandas相关设置
- options 设置Python的一些设置
    - 查看设置
        - 比如 pd.options.display.max_rows 返回在Python中如果print出来一个dataframe,能显示多少行（其他的就省略）
        - 如pd.options.display.max_columns
    - 设置setting,直接=就行
        - pd.options.display.max_rows = 4
- 额外知识：如何随机生成一个指定大小树阵
    - data = np.random.randint(0, 100, [1000, 50])  # low bound, higher bound, size
    - generate int randomly as a dataframe
    - df = pd.DataFrame(np.random.randn(5, 5))
- pd.get_option("max_columns")
    - 查看： pd.get_option("max_columns")
    - 设置： pd.set_option("max_columns", 20)
    - 重置： pd.reset_option("max_columns")
    - 查看这个option设置的是啥： pd.describe_option("max_columns")
- 显示的精度（不是真正的精度）
    - pd.set_option("precision", 2) 显示两位小数

In [2]:
import pandas as pd
import numpy as np

## Changing Options with Attributes and Dot Syntax

In [8]:
data = np.random.randint(0, 100, [1000, 50]) 
df = pd.DataFrame(data)
df.tail(2)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
998,37,60,38,86,46,65,49,43,21,15,...,53,59,76,48,95,83,57,76,4,26
999,37,51,9,84,26,52,96,86,16,80,...,67,13,25,24,6,82,97,47,90,13

In [9]:
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,72,11,75,57,24,75,26,73,31,97,...,49,33,37,60,96,25,83,29,4,37
1,87,13,43,23,99,22,78,51,68,27,...,60,92,95,72,50,75,85,85,94,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998,37,60,38,86,46,65,49,43,21,15,...,53,59,76,48,95,83,57,76,4,26
999,37,51,9,84,26,52,96,86,16,80,...,67,13,25,24,6,82,97,47,90,13

In [5]:
pd.options.display.max_rows

4

In [10]:
pd.options.display.max_columns

20

In [4]:
pd.options.display.max_rows = 4

In [36]:
pd.options.display.max_columns = 8

In [37]:
df

     0   1   2   3  ...  46  47  48  49
0    54  51  42   1 ...  54  57  99  64
1    36  33   8  57 ...  76  49  88   8
..   ..  ..  ..  .. ...  ..  ..  ..  ..
998  75   7  12  39 ...  49  24  94  89
999   7  87  36  54 ...  80  17  69  85

[1000 rows x 50 columns]

## Changing `pandas` Options with Methods

In [42]:
data = np.random.randint(0, 100, [1000, 50])
df = pd.DataFrame(data)
df.tail(2)

     0   1   2   3  ...  46  47  48  49
998  73   2   4  16 ...  14  17  64  20
999  76  28  61  59 ...  81  45  56  34

[2 rows x 50 columns]

In [43]:
pd.get_option("max_rows")

4

In [44]:
pd.get_option("max_columns")

8

In [47]:
pd.set_option("max_columns", 20)

In [50]:
pd.options.display.max_columns = 10

In [52]:
pd.get_option("mAX_columns")

10

In [55]:
pd.reset_option("max_columns")

In [56]:
pd.get_option("max_columns")

20

In [57]:
pd.describe_option("max_columns")

display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: 20]

## The `precision` Option

In [58]:
df = pd.DataFrame(np.random.randn(5, 5))
df

          0         1         2         3         4
0 -0.295331  0.297070  0.414826  0.470304 -0.824621
1  1.640154 -3.218202  0.911258 -0.117271 -0.128362
2  1.207132  1.173281  0.857209 -0.482647 -0.771982
3 -0.171130  0.303083 -0.572508 -1.133498 -1.233743
4  0.479362  1.370951  1.879856 -1.352938 -0.759176

In [59]:
pd.get_option("precision")

6

In [60]:
pd.set_option("precision", 2)

In [63]:
df

          0         1         2         3         4
0 -0.295331  0.297070  0.414826  0.470304 -0.824621
1  1.640154 -3.218202  0.911258 -0.117271 -0.128362
2  1.207132  1.173281  0.857209 -0.482647 -0.771982
3 -0.171130  0.303083 -0.572508 -1.133498 -1.233743
4  0.479362  1.370951  1.879856 -1.352938 -0.759176

In [62]:
pd.reset_option("precision")

## The `chop_threshold()` Option

In [12]:
df = pd.DataFrame(np.random.randn(10, 10))
df

,0,1,2,3,4,5,6,7,8,9
0,0.782995,-1.009478,-0.308497,-0.848471,-1.584774,-1.289890,-0.402736,1.126080,1.227195,0.471267
1,-1.172871,-1.467342,1.868303,-1.017403,-0.321993,0.851137,-0.328057,0.014015,-0.106919,-0.902133
...,...,...,...,...,...,...,...,...,...,...
8,0.765630,0.714657,1.018185,1.441083,0.463860,1.009505,-0.659041,0.990041,-0.902489,-0.688150
9,0.525464,1.946112,-0.840318,0.654767,-0.902926,-2.295429,0.162773,-0.104502,-1.416948,1.658724

In [19]:
pd.set_option("chop_threshold", 1)

In [21]:
df

,0,1,2,3,4,5,6,7,8,9
0,0.000000,-1.009478,0.000000,0.000000,-1.584774,-1.289890,0.0,1.12608,1.227195,0.000000
1,-1.172871,-1.467342,1.868303,-1.017403,0.000000,0.000000,0.0,0.00000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...
8,0.000000,0.000000,1.018185,1.441083,0.000000,1.009505,0.0,0.00000,0.000000,0.000000
9,0.000000,1.946112,0.000000,0.000000,0.000000,-2.295429,0.0,0.00000,-1.416948,1.658724

In [16]:
pd.reset_option("chop_threshold")

In [18]:
df

,0,1,2,3,4,5,6,7,8,9
0,0.782995,-1.009478,-0.308497,-0.848471,-1.584774,-1.289890,-0.402736,1.126080,1.227195,0.471267
1,-1.172871,-1.467342,1.868303,-1.017403,-0.321993,0.851137,-0.328057,0.014015,-0.106919,-0.902133
...,...,...,...,...,...,...,...,...,...,...
8,0.765630,0.714657,1.018185,1.441083,0.463860,1.009505,-0.659041,0.990041,-0.902489,-0.688150
9,0.525464,1.946112,-0.840318,0.654767,-0.902926,-2.295429,0.162773,-0.104502,-1.416948,1.658724

In [11]:
pd.describe_option("chop_threshold")

display.chop_threshold : float or None
    if set to a float value, all float values smaller then the given threshold
    will be displayed as exactly 0 by repr and friends.
    [default: None] [currently: None]