# datetime包中的时间

- import datetime as dt 调用datetime包
- date
    - dt.date(year, month, day) 设置date
    - date.year 调取日期的year
    - date.month
    - date.day
    - str(date) 改成string 格式显示 
        - '2010-01-20'
- datetime
    - dt.datetime(year, month, day, hour, minute, secon, microsecond,tzinfo) 
    - 从hour开始 可以不填
    - sometime.year
    - sometime.month
    - sometime.day
    - sometime.hour
    - sometime.minute
    - sometime.second

# pandas包中的时间-Timestamp

可转换的时间格式很广：
- 各种格式
- 也可以直接从datetime包中格式之间转化过来
    - pd.Timestamp("2015-03-31")
    - pd.Timestamp("2015/03/31")
    - pd.Timestamp("2013, 11, 04")
    - pd.Timestamp("1/1/2015")
    - pd.Timestamp("19/12/2015")
    - pd.Timestamp("12/19/2015")
    - pd.Timestamp("4/3/2000")
    - pd.Timestamp("2021-03-08 08:35:15")
    - pd.Timestamp("2021-03-08 6:13:29 PM")
    - pd.Timestamp(dt.date(2015, 1, 1))
    - pd.Timestamp(dt.datetime(2000, 2, 3, 21, 35, 22))
- 由date形成的series: DateTimeIndex 这是一个object/数据类型
    - DateTimeIndex其实就是 a collection of timestamp datetime
        - pd.DatetimeIndex(dates_list)
        - pd.DatetimeIndex(["2016/01/02", "2016/04/12", "2009/09/07"])
        - dates = [dt.date(2016, 1, 10), dt.date(1994, 6, 13), dt.date(2003, 12, 29)]
        - dtIndex = pd.DatetimeIndex(dates)
        - 并且真的可以作为index series使用
            - values = [100, 200, 300]
            - pd.Series(data = values, index = dtIndex)
- 转成datetime类型： pd.to_datetime("2001-01-19")
    - 可以支持特别广泛的转换
    - 转换成单个时间，自动转成的是timestamp
        - pd.to_datetime("2001-04-19")
        - pd.to_datetime(dt.date(2015, 1, 1))
        - pd.to_datetime(dt.datetime(2015, 1, 1, 14, 35, 20))
    - 若是一个series of datetime, 直接转换成DatetimeIndex
        - pd.to_datetime(["2015-01-03", "2014/02/08", "2016", "July 4th, 1996"])
    - 优点:pd.Series(["2015-01-03", "2014/02/08", "2016", "July 4th, 1996"]) ,指挥转换成文字，不能转成datetime series
    - error
        - 如果要转成的部分有非时间的成分，使用pd.to_datetime会报错,此时设置errors参数，若为coerce，会自动转成NaT,类似nan
        - dates = pd.Series(["July 4th, 1996", "10/04/1991", "Hello", "2015-02-31"])
        - pd.to_datetime(dates, errors = "coerce")
        - pd.to_datetime(dates, errors = "raise")指明错处
    - pd.to_datetime(date,unit="s") 中unit参数可以将数据时间，转成时间
        - pd.to_datetime([1349720105, 1349806505, 1349892905, 1349979305, 1350065705], unit = "s")
- pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "D")
    - 就是create一个datetime序列，就像seq(1,5,2)生成1，3，5一样，设置起止日期和间隔，就可以生成一个series/DatetimeIndex,每一项是timestamp
    - freq间隔时长
        - freq="D" 一天
        - freq="2D" 两天
        - freq="B" 表示business day, 跳过weekend
        - freq="W" 表示one day/week,默认是W-SUN, 每周只显示一次，即其周日,可以指明成其他如 W-FRI
        - freq= "H", 小时
        - freq="M"一月一次，默认是end day, 也可以设置"MS" month start，以每月一号为准
        - freq = "A" end day of each year
    - pd.date_range(start/end, periods,freq)
        - 指有开始/结束日期，间隔，和你要多少个/periods，就也可以生成一个时间series了
        - pd.date_range(start = "2012-09-09", periods = 50, freq = "6H")
        - pd.date_range(end = "1999-12-31", periods = 100, freq = "7H")
- 处理series中每一项的时间: dt(与str相同)
    - 将时间序列DateTimeIndex存进series,才可调取(此时每一项是datetime)
        - bunch_of_dates = pd.date_range(start = "2000-01-01", end = "2010-12-31", freq = "24D")
        - seri = pd.Series(bunch_of_dates)
    - 可以调用的attribute
        - seri.dt.day 返回一个每个日期 在当月第几天 的Series
        - seri.dt.month 第几月
        - seri.dt.weekday_name 返回周几
        - seri.dt.is_quarter_start 返回TF序列
    - 可以配合截取（根据TF序列）
        - seri[seri.dt.is_quarter_start]
- pandas_datareader
    - anaconda下载library到环境:pandas_datareader
        - from pandas_datareader import data 
        - （save some memory space）
        - 后面直接用data就行，不用弄pandas_datareader.data
    - data.DataReader(name = "MSFT", data_source = "google", start = "2010-01-01", end = "2017-12-31")
        - 巨牛逼:根据数据资源“google”，起止日期，可以反回某公司如“MSFT”为microsoft对应时间段的股票-dataframe,以日期为index
        - open: 开始的股票价格
        - end: 当天结束时的价格
        - high/low:当天最高/最低
        - volume:当天成交量
        - google好像先不能用了，可以试试：yahoo(Alternatives to Google Finance include Alpha Vantage, Quandl, and IEX.)
        - 截取 stocks.loc["2014-03-04":"2014-04-04"]
    - 配合截取pd.date_range
        - birthdays = pd.date_range(start = "1991-04-12", end = "2017-12-31", freq = pd.DateOffset(years = 1))
        - mask = stocks.index.isin(birthdays)
        - stocks[mask]
- Timestamp 有直接可以调用的函数
    - someday.day
    - someday.month
    - someday.year
    - someday.weekday_name
    - someday.is_month_end
    - someday.is_month_start
- 就stock，新加补充列 如stocks.index.weekday_name（若用Index就不用dt.了）
    - stocks.insert(0, "Day of Week", stocks.index.weekday_name) 即在0位插入列"Day of Week"
    - stocks.insert(1, "Is Start of Month", stocks.index.is_month_start)
    - stocks[stocks["Is Start of Month"]]
- dataframe.truncate(before = "2012-06-07", after = "2013-02-28")
    - 根据日期的index，可以用truncate截取整个dataframe的行
    - 注意！前提是dataframe已经由date index sort好了！
- 为了直接调取pd.tseries.offsets.之后的函数，还能被识别，直接import到最终的Level4
    - from pandas.tseries.offsets import *
    - 这样Import之后，直接可以调用函数啦
        - stocks.index - MonthEnd()
        - 而非 pd.tseries.offsets.MonthEnd()
        - stocks.index - BMonthEnd()
        - stocks.index - QuarterEnd()
        - stocks.index - QuarterBegin()
- "+" pd.DateOffset()
    - 在原本的日期上加上一定单位的时间:date + pd.DateOffset()
    - 如，若是一个Date series，可以在每一项上加上一定单位的日期
        - stocks.index + pd.DateOffset(months = 8, years = 5, days = 12, hours = 3, minutes = 42)
-  "+" pd.tseries.offsets. 对date series做函数处理
    - stocks.index + pd.tseries.offsets.MonthBegin() 返回time series当月的第一天的Date
    - stocks.index + pd.tseries.offsets.MonthEnd()
- timestamp的时间差(difference in time)：Timedelta
    - 直接让timestamp/date做减法，其实是储存在了一个叫pandas.tslib.Timedelta的Object中
        - 如 Timedelta('-12 days +09:41:33')
    - 可以用Timedelta()定义时间差是多少
        - pd.Timedelta(weeks = 8, days = 3, hours = 12, minutes = 45)
        - pd.Timedelta("14 days 6 hours 12 minutes 49 seconds")
    - 可以用Date+Timedelta得到新的日期
        - shipping["Twice As Long"] = shipping["delivery_date"] + shipping["Delivery Time"]
    - 可以配合Mask截取dataframe
        - mask = shipping["Delivery Time"] == "3423 days"
        - shipping[mask]

143从头开始

In [3]:
import pandas as pd
import datetime as dt

## Review of Python's `datetime` Module

In [5]:
someday = dt.date(2010, 1, 20) #dt.date(year, month, day)

In [8]:
someday.year

2010

In [7]:
someday.month

1

In [9]:
someday.day

20

In [10]:
str(someday)

'2010-01-20'

In [5]:
str(dt.datetime(2010, 1, 10, 17, 13, 57))

'2010-01-10 17:13:57'

In [6]:
sometime = dt.datetime(2010, 1, 10, 17, 13, 57)

In [7]:
sometime.year
sometime.month
sometime.day
sometime.hour
sometime.minute
sometime.second

57

## The `pandas Timestamp` Object

In [8]:
pd.Timestamp("2015-03-31")
pd.Timestamp("2015/03/31")
pd.Timestamp("2013, 11, 04")
pd.Timestamp("1/1/2015")
pd.Timestamp("19/12/2015")
pd.Timestamp("12/19/2015")
pd.Timestamp("4/3/2000")
pd.Timestamp("2021-03-08 08:35:15")
pd.Timestamp("2021-03-08 6:13:29 PM")

Timestamp('2021-03-08 18:13:29')

In [9]:
pd.Timestamp(dt.date(2015, 1, 1))

Timestamp('2015-01-01 00:00:00')

In [10]:
pd.Timestamp(dt.datetime(2000, 2, 3, 21, 35, 22))

Timestamp('2000-02-03 21:35:22')

## The `pandas DateTimeIndex` Object

In [11]:
dates = ["2016/01/02", "2016/04/12", "2009/09/07"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [12]:
dates = [dt.date(2016, 1, 10), dt.date(1994, 6, 13), dt.date(2003, 12, 29)]
dtIndex = pd.DatetimeIndex(dates)

In [13]:
values = [100, 200, 300]
pd.Series(data = values, index = dtIndex)

2016-01-10    100
1994-06-13    200
2003-12-29    300
dtype: int64

## The `pd.to_datetime()` Method

In [14]:
pd.to_datetime("2001-04-19")
pd.to_datetime(dt.date(2015, 1, 1))
pd.to_datetime(dt.datetime(2015, 1, 1, 14, 35, 20))
pd.to_datetime(["2015-01-03", "2014/02/08", "2016", "July 4th, 1996"])

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [15]:
times = pd.Series(["2015-01-03", "2014/02/08", "2016", "July 4th, 1996"])
times

0        2015-01-03
1        2014/02/08
2              2016
3    July 4th, 1996
dtype: object

In [16]:
pd.to_datetime(times)

0   2015-01-03
1   2014-02-08
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [17]:
dates = pd.Series(["July 4th, 1996", "10/04/1991", "Hello", "2015-02-31"])
dates

0    July 4th, 1996
1        10/04/1991
2             Hello
3        2015-02-31
dtype: object

In [18]:
pd.to_datetime(dates, errors = "coerce")

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [19]:
pd.to_datetime([1349720105, 1349806505, 1349892905, 1349979305, 1350065705], unit = "s")

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05',
               '2012-10-12 18:15:05'],
              dtype='datetime64[ns]', freq=None)

In [20]:
pd.Period("2016-01-08", freq = "10D")

Period('2016-01-08', '10D')

In [21]:
dates = ["2016-01-01", "2016-02-01", "2016-03-01"]
pd.Series([1, 2, 3], index = pd.PeriodIndex(dates, freq = "2M"))

2016-01    1
2016-02    2
2016-03    3
Freq: 2M, dtype: int64

In [22]:
pd.Period("2016-01-08", freq = "W")
pd.Period("2016-01-08", freq = "W-SUN")
pd.Period("2016-01-08", freq = "W-WED")
pd.Period("2015-12-10", freq = "10D")

dates = ["2016-01-01", "2016-02-01", "2016-02-01"]
pd.PeriodIndex(dates, freq = "W-MON")
weeks = pd.PeriodIndex(dates, freq = "W-MON")

pd.Series([999, 500, 325], index = weeks, name = "Weekly Revenue")

2015-12-29/2016-01-04    999
2016-01-26/2016-02-01    500
2016-01-26/2016-02-01    325
Freq: W-MON, Name: Weekly Revenue, dtype: int64

## Create Range of Dates with the `pd.date_range()` Method, Part 1

In [5]:
times = pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "D")

In [6]:
type(times)

pandas.tseries.index.DatetimeIndex

In [9]:
type(times[0])

pandas.tslib.Timestamp

In [22]:
pd.date_range(start = "2016-01-01", end = "2050-01-01", freq = "A")

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

## Create Range of Dates with the `pd.date_range()` Method, Part 2

In [27]:
pd.date_range(start = "2012-09-09", periods = 50, freq = "6H")

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 06:00:00',
               '2012-09-09 12:00:00', '2012-09-09 18:00:00',
               '2012-09-10 00:00:00', '2012-09-10 06:00:00',
               '2012-09-10 12:00:00', '2012-09-10 18:00:00',
               '2012-09-11 00:00:00', '2012-09-11 06:00:00',
               '2012-09-11 12:00:00', '2012-09-11 18:00:00',
               '2012-09-12 00:00:00', '2012-09-12 06:00:00',
               '2012-09-12 12:00:00', '2012-09-12 18:00:00',
               '2012-09-13 00:00:00', '2012-09-13 06:00:00',
               '2012-09-13 12:00:00', '2012-09-13 18:00:00',
               '2012-09-14 00:00:00', '2012-09-14 06:00:00',
               '2012-09-14 12:00:00', '2012-09-14 18:00:00',
               '2012-09-15 00:00:00', '2012-09-15 06:00:00',
               '2012-09-15 12:00:00', '2012-09-15 18:00:00',
               '2012-09-16 00:00:00', '2012-09-16 06:00:00',
               '2012-09-16 12:00:00', '2012-09-16 18:00:00',
               '2012-09-17 00:00:00', '2012-09-17 06:00:00',
               '2012-09-17 12:00:00', '2012-09-17 18:00:00',
               '2012-09-18 00:00:00', '2012-09-18 06:00:00',
               '2012-09-18 12:00:00', '2012-09-18 18:00:00',
               '2012-09-19 00:00:00', '2012-09-19 06:00:00',
               '2012-09-19 12:00:00', '2012-09-19 18:00:00',
               '2012-09-20 00:00:00', '2012-09-20 06:00:00',
               '2012-09-20 12:00:00', '2012-09-20 18:00:00',
               '2012-09-21 00:00:00', '2012-09-21 06:00:00'],
              dtype='datetime64[ns]', freq='6H')

## Create Range of Dates with the `pd.date_range()` Method, Part 3

In [28]:
pd.date_range(end = "1999-12-31", periods = 100, freq = "7H")

DatetimeIndex(['1999-12-02 03:00:00', '1999-12-02 10:00:00',
               '1999-12-02 17:00:00', '1999-12-03 00:00:00',
               '1999-12-03 07:00:00', '1999-12-03 14:00:00',
               '1999-12-03 21:00:00', '1999-12-04 04:00:00',
               '1999-12-04 11:00:00', '1999-12-04 18:00:00',
               '1999-12-05 01:00:00', '1999-12-05 08:00:00',
               '1999-12-05 15:00:00', '1999-12-05 22:00:00',
               '1999-12-06 05:00:00', '1999-12-06 12:00:00',
               '1999-12-06 19:00:00', '1999-12-07 02:00:00',
               '1999-12-07 09:00:00', '1999-12-07 16:00:00',
               '1999-12-07 23:00:00', '1999-12-08 06:00:00',
               '1999-12-08 13:00:00', '1999-12-08 20:00:00',
               '1999-12-09 03:00:00', '1999-12-09 10:00:00',
               '1999-12-09 17:00:00', '1999-12-10 00:00:00',
               '1999-12-10 07:00:00', '1999-12-10 14:00:00',
               '1999-12-10 21:00:00', '1999-12-11 04:00:00',
               '1999-12-11 11:00:00', '1999-12-11 18:00:00',
               '1999-12-12 01:00:00', '1999-12-12 08:00:00',
               '1999-12-12 15:00:00', '1999-12-12 22:00:00',
               '1999-12-13 05:00:00', '1999-12-13 12:00:00',
               '1999-12-13 19:00:00', '1999-12-14 02:00:00',
               '1999-12-14 09:00:00', '1999-12-14 16:00:00',
               '1999-12-14 23:00:00', '1999-12-15 06:00:00',
               '1999-12-15 13:00:00', '1999-12-15 20:00:00',
               '1999-12-16 03:00:00', '1999-12-16 10:00:00',
               '1999-12-16 17:00:00', '1999-12-17 00:00:00',
               '1999-12-17 07:00:00', '1999-12-17 14:00:00',
               '1999-12-17 21:00:00', '1999-12-18 04:00:00',
               '1999-12-18 11:00:00', '1999-12-18 18:00:00',
               '1999-12-19 01:00:00', '1999-12-19 08:00:00',
               '1999-12-19 15:00:00', '1999-12-19 22:00:00',
               '1999-12-20 05:00:00', '1999-12-20 12:00:00',
               '1999-12-20 19:00:00', '1999-12-21 02:00:00',
               '1999-12-21 09:00:00', '1999-12-21 16:00:00',
               '1999-12-21 23:00:00', '1999-12-22 06:00:00',
               '1999-12-22 13:00:00', '1999-12-22 20:00:00',
               '1999-12-23 03:00:00', '1999-12-23 10:00:00',
               '1999-12-23 17:00:00', '1999-12-24 00:00:00',
               '1999-12-24 07:00:00', '1999-12-24 14:00:00',
               '1999-12-24 21:00:00', '1999-12-25 04:00:00',
               '1999-12-25 11:00:00', '1999-12-25 18:00:00',
               '1999-12-26 01:00:00', '1999-12-26 08:00:00',
               '1999-12-26 15:00:00', '1999-12-26 22:00:00',
               '1999-12-27 05:00:00', '1999-12-27 12:00:00',
               '1999-12-27 19:00:00', '1999-12-28 02:00:00',
               '1999-12-28 09:00:00', '1999-12-28 16:00:00',
               '1999-12-28 23:00:00', '1999-12-29 06:00:00',
               '1999-12-29 13:00:00', '1999-12-29 20:00:00',
               '1999-12-30 03:00:00', '1999-12-30 10:00:00',
               '1999-12-30 17:00:00', '1999-12-31 00:00:00'],
              dtype='datetime64[ns]', freq='7H')

## The `.dt` Accessor

In [3]:
bunch_of_dates = pd.date_range(start = "2000-01-01", end = "2010-12-31", freq = "24D")

In [4]:
s = pd.Series(bunch_of_dates)
s.head(3)

0   2000-01-01
1   2000-01-25
2   2000-02-18
dtype: datetime64[ns]

In [5]:
mask = s.dt.is_month_end
s[mask]

5     2000-04-30
57    2003-09-30
71    2004-08-31
90    2005-11-30
123   2008-01-31
161   2010-07-31
dtype: datetime64[ns]

## Import Financial Data Set with `pandas_datareader` Library

- pandas_datareader
    - anaconda下载library到环境:pandas_datareader
        - from pandas_datareader import data 
        - （save some memory space）
        - 后面直接用data就行，不用弄pandas_datareader.data
    - data.DataReader(name = "MSFT", data_source = "google", start = "2010-01-01", end = "2017-12-31")
        - 巨牛逼:根据数据资源“google”，起止日期，可以反回某公司如“MSFT”为microsoft对应时间段的股票-dataframe,以日期为index
        - open: 开始的股票价格
        - end: 当天结束时的价格
        - high/low:当天最高/最低
        - volume:当天成交量
        - google好像先不能用了，可以试试：yahoo(Alternatives to Google Finance include Alpha Vantage, Quandl, and IEX.)
        - 截取 stocks.loc["2014-03-04":"2014-04-04"]
    - 配合截取pd.date_range
        - birthdays = pd.date_range(start = "1991-04-12", end = "2017-12-31", freq = pd.DateOffset(years = 1))
        - mask = stocks.index.isin(birthdays)
        - stocks[mask]

In [4]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [8]:
company = "MSFT"
start = "2010-01-01"
end = "2017-12-31"

stocks = data.DataReader(name = company, data_source = "yahoo", start = start, end = end)
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.443624
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.451517
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  24.301458

In [31]:
stocks.loc["2014-03-04"]

High         3.848000e+01
Low          3.807000e+01
Open         3.820000e+01
Close        3.841000e+01
Volume       2.680240e+07
Adj Close    3.393059e+01
Name: 2014-03-04 00:00:00, dtype: float64

In [32]:
stocks.iloc[300]

High         2.576000e+01
Low          2.535000e+01
Open         2.549000e+01
Close        2.569000e+01
Volume       5.447340e+07
Adj Close    2.083438e+01
Name: 2011-03-14 00:00:00, dtype: float64

In [33]:
stocks.ix["2014-03-04"] #好像ix已经不太支持了

C:\Users\sunka\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

High         3.848000e+01
Low          3.807000e+01
Open         3.820000e+01
Close        3.841000e+01
Volume       2.680240e+07
Adj Close    3.393059e+01
Name: 2014-03-04 00:00:00, dtype: float64

In [34]:
stocks.loc["2014-03-04":"2014-04-04"]

                 High        Low       Open      Close      Volume  Adj Close
Date
2014-03-04  38.480000  38.070000  38.200001  38.410000  26802400.0  33.930588
2014-03-05  38.270000  37.930000  38.250000  38.110001  20520100.0  33.665577
2014-03-06  38.240002  37.889999  38.139999  38.150002  23582200.0  33.700912
2014-03-07  38.360001  37.689999  38.279999  37.900002  26591600.0  33.480068
2014-03-10  38.009998  37.720001  37.990002  37.820000  19006600.0  33.409401
2014-03-11  38.230000  37.720001  37.869999  38.020000  25216400.0  33.586075
2014-03-12  38.430000  37.790001  37.799999  38.270000  30494100.0  33.806915
2014-03-13  38.450001  37.639999  38.419998  37.889999  32169700.0  33.471237
2014-03-14  38.139999  37.509998  37.650002  37.700001  27195600.0  33.303394
2014-03-17  38.410000  37.790001  37.900002  38.049999  20479600.0  33.612564
2014-03-18  39.900002  38.220001  38.259998  39.549999  64063900.0  34.937641
2014-03-19  39.549999  38.910000  39.470001  39.270000  35597200.0  34.690289
2014-03-20  40.650002  39.240002  39.250000  40.330002  59269800.0  35.626678
2014-03-21  40.939999  40.009998  40.720001  40.160000  80721800.0  35.476494
2014-03-24  40.639999  39.860001  40.340000  40.500000  46098400.0  35.776855
2014-03-25  40.990002  39.959999  40.660000  40.340000  43193100.0  35.635513
2014-03-26  40.709999  39.599998  40.480000  39.790001  41977500.0  35.149658
2014-03-27  39.970001  39.340000  39.740002  39.360001  35369200.0  34.769806
2014-03-28  40.639999  39.680000  39.790001  40.299999  43472700.0  35.600174
2014-03-31  41.500000  40.400002  40.430000  40.990002  46886300.0  36.209713
2014-04-01  41.590000  41.070000  41.150002  41.419998  32605000.0  36.589558
2014-04-02  41.660000  41.169998  41.439999  41.349998  28666700.0  36.527725
2014-04-03  41.290001  40.709999  41.290001  41.009998  30139600.0  36.227371
2014-04-04  41.389999  39.639999  41.250000  39.869999  51409600.0  35.220318

In [ ]:
pd.date_range(start="2014-03-04", end="2014-04-04",freq=pd.)

In [9]:
stocks.values
stocks.columns
stocks.index[0]
stocks.axes

[DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2017-12-15', '2017-12-18', '2017-12-19', '2017-12-20',
                '2017-12-21', '2017-12-22', '2017-12-26', '2017-12-27',
                '2017-12-28', '2017-12-29'],
               dtype='datetime64[ns]', name='Date', length=2013, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

## Selecting from a `DataFrame` with a `DateTimeIndex`

In [11]:
stocks = data.DataReader(name = company, data_source = "yahoo", start = start, end = end)
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.443624
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.451517
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  24.301458

In [13]:
stocks.loc["2014-03-04"]
stocks.iloc[300]
stocks.ix["2014-03-04"]
stocks.ix[300]

C:\Users\sunka\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\sunka\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  after removing the cwd from sys.path.

High         2.576000e+01
Low          2.535000e+01
Open         2.549000e+01
Close        2.569000e+01
Volume       5.447340e+07
Adj Close    2.083438e+01
Name: 2011-03-14 00:00:00, dtype: float64

In [62]:
stocks.ix["2016-01-01"]

KeyError: '2016-01-01'

In [64]:
stocks.loc["2013-10-01" : "2013-10-07"]
stocks.ix["2013-10-01" : "2013-10-07"]

             Open   High    Low  Close    Volume
Date
2013-10-01  33.35  33.61  33.30  33.58  36718733
2013-10-02  33.36  34.03  33.29  33.92  46946813
2013-10-03  33.88  34.00  33.42  33.86  38707452
2013-10-04  33.69  33.99  33.62  33.88  33008107
2013-10-07  33.60  33.71  33.20  33.30  35069279

In [14]:
birthdays = pd.date_range(start = "1991-04-12", end = "2017-12-31", freq = pd.DateOffset(years = 1))
mask = stocks.index.isin(birthdays)
stocks[mask]

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-04-12  30.490000  30.209999  30.250000  30.320000  37068800.0  24.058039
2011-04-12  25.850000  25.549999  25.830000  25.639999  36920400.0  20.793827
2012-04-12  31.040001  30.420000  30.480000  30.980000  38304000.0  25.809261
2013-04-12  29.020000  28.660000  28.850000  28.790001  62886300.0  24.704655
2016-04-12  54.779999  53.759998  54.369999  54.650002  24944300.0  50.932743
2017-04-12  65.510002  65.110001  65.419998  65.230003  17108500.0  62.391968

## `Timestamp` Object Attributes

- Timestamp 有直接可以调用的函数
    - someday.day
    - someday.month
    - someday.year
    - someday.weekday_name
    - someday.is_month_end
    - someday.is_month_start
- 就stock，新加补充列 如stocks.index.weekday_name（若用Index就不用dt.了）
    - stocks.insert(0, "Day of Week", stocks.index.weekday_name) 即在0位插入列"Day of Week"
    - stocks.insert(1, "Is Start of Month", stocks.index.is_month_start)
    - stocks[stocks["Is Start of Month"]]

In [73]:
stocks = data.DataReader(name = company, data_source = "google", start = start, end = end)
stocks.head(3)

             Open   High    Low  Close    Volume
Date
2010-01-04  30.62  31.10  30.59  30.95  38414185
2010-01-05  30.85  31.10  30.64  30.96  49758862
2010-01-06  30.88  31.08  30.52  30.77  58182332

In [76]:
someday = stocks.index[500]
someday

Timestamp('2011-12-28 00:00:00')

In [82]:
someday.day
someday.month
someday.year
someday.weekday_name
someday.is_month_end
someday.is_month_start

False

In [36]:
stocks.insert(0, "Day of Week", stocks.index.weekday_name)
stocks.insert(1, "Is Start of Month", stocks.index.is_month_start)
stocks[stocks["Is Start of Month"]]

,Day of Week,Is Start of Month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-02-01,Monday,True,28.480000,27.920000,28.389999,28.410000,85931100.0,22.437580
2010-03-01,Monday,True,29.049999,28.530001,28.770000,29.020000,43805400.0,23.026525
2010-04-01,Thursday,True,29.540001,28.620001,29.350000,29.160000,74768100.0,23.137602
2010-06-01,Tuesday,True,26.309999,25.520000,25.530001,25.889999,76152400.0,20.635656
2010-07-01,Thursday,True,23.320000,22.730000,23.090000,23.160000,92239400.0,18.459715
2010-09-01,Wednesday,True,23.950001,23.540001,23.670000,23.900000,65235900.0,19.151144
2010-10-01,Friday,True,24.820000,24.299999,24.770000,24.379999,62672300.0,19.535769
2010-11-01,Monday,True,27.219999,26.700001,26.879999,26.950001,61912100.0,21.595112
2010-12-01,Wednesday,True,26.250000,25.559999,25.570000,26.040001,74123500.0,20.994139
2011-02-01,Tuesday,True,28.059999,27.610001,27.799999,27.990000,62810700.0,22.566280
2011-03-01,Tuesday,True,26.780001,26.150000,26.600000,26.160000,60055000.0,21.215551
2011-04-01,Friday,True,25.530001,25.309999,25.530001,25.480000,63114200.0,20.664076
2011-06-01,Wednesday,True,25.100000,24.370001,24.990000,24.430000,74033500.0,19.942396
2011-07-01,Friday,True,26.170000,25.840000,25.930000,26.020000,52906200.0,21.240322
2011-08-01,Monday,True,27.690001,26.750000,27.510000,27.270000,61838400.0,22.260714
2011-09-01,Thursday,True,26.860001,26.209999,26.459999,26.209999,60510800.0,21.530468
2011-11-01,Tuesday,True,26.320000,25.860001,26.190001,25.990000,61182600.0,21.349743
2011-12-01,Thursday,True,25.629999,25.200001,25.559999,25.280001,48545400.0,20.922884
2012-02-01,Wednesday,True,30.049999,29.760000,29.790001,29.889999,67409900.0,24.738325
2012-03-01,Thursday,True,32.389999,31.850000,31.930000,32.290001,77344100.0,26.900608
2012-05-01,Tuesday,True,32.340000,31.950001,32.049999,32.009998,43832300.0,26.667349
2012-06-01,Friday,True,28.959999,28.440001,28.760000,28.450001,56634300.0,23.857056
2012-08-01,Wednesday,True,29.650000,29.209999,29.590000,29.410000,31721800.0,24.662073
2012-10-01,Monday,True,29.980000,29.420000,29.809999,29.490000,54042700.0,24.892981
2012-11-01,Thursday,True,29.559999,28.820000,28.840000,29.520000,72047900.0,24.918303
2013-02-01,Friday,True,28.049999,27.549999,27.670000,27.930000,55565900.0,23.769892
2013-03-01,Friday,True,27.980000,27.520000,27.719999,27.950001,34849700.0,23.983852
2013-04-01,Monday,True,28.660000,28.360001,28.639999,28.610001,29201100.0,24.550192
2013-05-01,Wednesday,True,33.080002,32.599998,32.930000,32.720001,54330900.0,28.076982
2013-07-01,Monday,True,34.990002,34.330002,34.750000,34.360001,31055400.0,29.691017
...,...,...,...,...,...,...,...,...
2014-04-01,Tuesday,True,41.590000,41.070000,41.150002,41.419998,32605000.0,36.589558
2014-05-01,Thursday,True,40.360001,39.950001,40.240002,40.000000,28787400.0,35.335155
2014-07-01,Tuesday,True,42.150002,41.689999,41.860001,41.869999,26917000.0,37.248013
2014-08-01,Friday,True,43.250000,42.599998,43.209999,42.860001,31170300.0,38.128727
2014-10-01,Wednesday,True,46.529999,45.849998,46.270000,45.900002,38088400.0,41.088188
2014-12-01,Monday,True,48.779999,47.709999,47.880001,48.619999,31191600.0,43.797543
2015-04-01,Wednesday,True,40.759998,40.310001,40.599998,40.720001,36865300.0,36.942169
2015-05-01,Friday,True,48.880001,48.400002,48.580002,48.660000,38937300.0,44.145527
2015-06-01,Monday,True,47.770000,46.619999,47.060001,47.230000,28837300.0,43.126656
2015-07-01,Wednesday,True,45.230000,44.099998,44.459999,44.450001,28343900.0,40.588188
2015-09-01,Tuesday,True,42.590000,41.660000,42.169998,41.820000,49688900.0,38.438499
2015-10-01,Thursday,True,44.750000,43.750000,44.750000,44.610001,28657900.0,41.002899
2015-12-01,Tuesday,True,55.230000,54.299999,54.410000,55.220001,39952800.0,51.097107
2016-02-01,Monday,True,55.090000,54.500000,54.880001,54.709999,44208500.0,50.625172
2016-03-01,Tuesday,True,52.590000,50.919998,50.970001,52.580002,33024500.0,49.003548
2016-04-01,Friday,True,55.610001,54.570000,55.049999,55.570000,24399200.0,51.790169
2016-06-01,Wednesday,True,52.950001,52.439999,52.439999,52.849998,25324800.0,49.599678
2016-07-01,Friday,True,51.720001,51.070000,51.130001,51.160000,21400400.0,48.013626
2016-08-01,Monday,True,56.750000,56.139999,56.599998,56.580002,26003400.0,53.100292
2016-09-01,Thursday,True,57.820000,57.009998,57.009998,57.590000,26075400.0,54.385036
2016-11-01,Tuesday,True,60.020000,59.250000,59.970001,59.799999,24533000.0,56.472046
2016-12-01,Thursday,True,60.150002,58.939999,60.110001,59.200001,34542100.0,56.283112
2017-02-01,Wednesday,True,64.620003,63.470001,64.360001,63.580002,39671500.0,60.447304
2017-03-01,Wednesday,True,64.989998,64.019997,64.129997,64.940002,26937500.0,62.114594
2017-05-01,Monday,True,69.550003,68.500000,68.680000,69.410004,31954400.0,66.390121
2017-06-01,Thursday,True,70.610001,69.449997,70.239998,70.099998,21603600.0,67.434410
2017-08-01,Tuesday,True,73.419998,72.489998,73.099998,72.580002,22132300.0,69.820122
2017-09-01,Friday,True,74.739998,73.639999,74.709999,73.940002,21736200.0,71.507362
2017-11-01,Wednesday,True,83.760002,82.879997,83.680000,83.180000,22307400.0,80.443352
2017-12-01,Friday,True,84.809998,83.220001,83.599998,84.260002,29532100.0,81.897079

## The `.truncate()` Method

- dataframe.truncate(before = "2012-06-07", after = "2013-02-28")
    - 根据日期的index，可以用truncate截取整个dataframe的行
    - 注意！前提是dataframe已经由date index sort好了！

In [17]:
stocks = data.DataReader(name = company, data_source = "yahoo", start = start, end = end)
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.443624
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.451517
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  24.301458

In [92]:
stocks.truncate(before = "2012-06-07", after = "2013-02-28")

             Open   High    Low  Close     Volume
Date
2012-06-07  29.64  29.70  29.17  29.23   37794901
2012-06-08  29.21  29.68  29.05  29.65   42554321
2012-06-11  29.73  29.81  28.82  28.90   46365066
2012-06-12  29.10  29.30  28.84  29.29   35338135
2012-06-13  29.22  29.44  29.05  29.13   32984515
2012-06-14  29.33  29.46  28.88  29.34   39460156
2012-06-15  29.59  30.08  29.49  30.02   62314362
2012-06-18  29.99  30.03  29.71  29.84   58679618
2012-06-19  30.19  31.11  30.05  30.70   75725717
2012-06-20  30.93  31.05  30.64  30.93   36257101
2012-06-21  30.96  31.14  30.06  30.14   48461283
2012-06-22  30.30  30.73  30.03  30.70   45098017
2012-06-25  30.30  30.32  29.62  29.86   42225199
2012-06-26  30.00  30.27  29.94  30.02   38422237
2012-06-27  30.19  30.50  30.03  30.17   33783977
2012-06-28  29.98  30.05  29.42  29.91   45333920
2012-06-29  30.45  30.69  30.14  30.59   55227108
2012-07-02  30.62  30.62  30.21  30.56   30589039
2012-07-03  30.23  30.76  30.17  30.76   20941442
2012-07-05  30.59  30.78  30.38  30.70   28802821
2012-07-06  30.61  30.70  29.95  30.18   38297403
2012-07-09  30.12  30.23  29.78  30.00   30682552
2012-07-10  30.08  30.22  29.51  29.74   37537369
2012-07-11  29.71  29.74  29.10  29.30   39188842
2012-07-12  29.15  29.18  28.54  28.63   63530444
2012-07-13  28.76  29.48  28.72  29.39   39090585
2012-07-16  29.48  29.53  29.04  29.44   27901963
2012-07-17  29.64  29.86  29.20  29.66   33776331
2012-07-18  29.60  30.45  29.46  30.45   41100151
2012-07-19  30.51  30.80  30.38  30.66   46663183
...           ...    ...    ...    ...        ...
2013-01-16  27.15  27.23  27.01  27.04   41077374
2013-01-17  27.19  27.47  27.06  27.25   51685841
2013-01-18  27.10  27.29  27.04  27.25   52171305
2013-01-22  27.30  27.45  27.00  27.15   58656745
2013-01-23  27.20  27.64  27.20  27.61   50387614
2013-01-24  27.70  28.07  27.47  27.63  101739246
2013-01-25  27.58  28.23  27.39  27.88   81853106
2013-01-28  28.01  28.22  27.76  27.91   56061493
2013-01-29  27.82  28.13  27.60  28.01   49247863
2013-01-30  28.01  28.19  27.76  27.85   43585526
2013-01-31  27.79  27.97  27.40  27.45   50536148
2013-02-01  27.67  28.05  27.55  27.93   55566440
2013-02-04  27.87  28.02  27.42  27.44   50539942
2013-02-05  27.62  27.66  27.36  27.50   35410361
2013-02-06  27.38  27.54  27.25  27.34   41889572
2013-02-07  27.35  27.39  27.10  27.28   38034068
2013-02-08  27.35  27.71  27.31  27.55   33320436
2013-02-11  27.65  27.92  27.50  27.86   32248149
2013-02-12  27.88  28.00  27.75  27.88   35991329
2013-02-13  27.93  28.11  27.88  28.03   41716060
2013-02-14  27.92  28.06  27.87  28.04   32663454
2013-02-15  28.04  28.16  27.88  28.01   49657740
2013-02-19  27.88  28.09  27.80  28.04   38806870
2013-02-20  28.13  28.20  27.83  27.87   44112446
2013-02-21  27.74  27.74  27.23  27.49   49085538
2013-02-22  27.68  27.76  27.48  27.76   31430018
2013-02-25  27.97  28.05  27.37  27.37   48020353
2013-02-26  27.38  27.60  27.34  27.37   49925050
2013-02-27  27.42  28.00  27.33  27.81   36395589
2013-02-28  27.88  27.97  27.74  27.80   35840861

[182 rows x 5 columns]

## `pd.DateOffset` Objects

- 为了直接调取pd.tseries.offsets.之后的函数，还能被识别，直接import到最终的Level4
    - from pandas.tseries.offsets import *
    - 这样Import之后，直接可以调用函数啦
        - stocks.index - MonthEnd()
        - 而非 pd.tseries.offsets.MonthEnd()
        - stocks.index - BMonthEnd()
        - stocks.index - QuarterEnd()
        - stocks.index - QuarterBegin()
- + pd.DateOffset()
    - 在原本的日期上加上一定单位的时间:date + pd.DateOffset()
    - 如，若是一个Date series，可以在每一项上加上一定单位的日期
        - stocks.index + pd.DateOffset(months = 8, years = 5, days = 12, hours = 3, minutes = 42)
-  + pd.tseries.offsets. 对date series做函数处理
    - stocks.index + pd.tseries.offsets.MonthBegin() 返回time series当月的第一天的Date
    - stocks.index + pd.tseries.offsets.MonthEnd()

In [18]:
stocks = data.DataReader(name = "GOOG", data_source = "yahoo",
                start = dt.date(2000, 1, 1), end = dt.datetime.now())
stocks.head(3)

                 High        Low       Open      Close      Volume  Adj Close
Date
2004-08-19  51.835709  47.800831  49.813286  49.982655  44871300.0  49.982655
2004-08-20  54.336334  50.062355  50.316402  53.952770  22942800.0  53.952770
2004-08-23  56.528118  54.321388  55.168217  54.495735  18342800.0  54.495735

In [105]:
stocks.index + pd.DateOffset(months = 8, years = 5, days = 12, hours = 3, minutes = 42)

DatetimeIndex(['2010-05-01 03:42:00', '2010-05-02 03:42:00',
               '2010-05-05 03:42:00', '2010-05-06 03:42:00',
               '2010-05-07 03:42:00', '2010-05-08 03:42:00',
               '2010-05-09 03:42:00', '2010-05-12 03:42:00',
               '2010-05-12 03:42:00', '2010-05-13 03:42:00',
               ...
               '2022-05-14 03:42:00', '2022-05-18 03:42:00',
               '2022-05-19 03:42:00', '2022-05-20 03:42:00',
               '2022-05-21 03:42:00', '2022-05-24 03:42:00',
               '2022-05-25 03:42:00', '2022-05-26 03:42:00',
               '2022-05-27 03:42:00', '2022-05-28 03:42:00'],
              dtype='datetime64[ns]', name='Date', length=3041, freq=None)

## More Fun with `pd.DateOffset` Objects

In [141]:
import pandas as pd
import datetime as dt
from pandas_datareader import data
from pandas.tseries.offsets import *

In [19]:
stocks = data.DataReader(name = "GOOG", data_source = "yahoo",
                start = dt.date(2000, 1, 1), end = dt.datetime.now())

stocks.head(3)

                 High        Low       Open      Close      Volume  Adj Close
Date
2004-08-19  51.835709  47.800831  49.813286  49.982655  44871300.0  49.982655
2004-08-20  54.336334  50.062355  50.316402  53.952770  22942800.0  53.952770
2004-08-23  56.528118  54.321388  55.168217  54.495735  18342800.0  54.495735

In [23]:
stocks.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-09-30', '2004-09-30',
               ...
               '2019-08-31', '2019-08-31', '2019-08-31', '2019-08-31',
               '2019-08-31', '2019-08-31', '2019-08-31', '2019-08-31',
               '2019-08-31', '2019-08-31'],
              dtype='datetime64[ns]', name='Date', length=3781, freq=None)

In [24]:
stocks.index + pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-10-01',
               ...
               '2019-09-01', '2019-09-01', '2019-09-01', '2019-09-01',
               '2019-09-01', '2019-09-01', '2019-09-01', '2019-09-01',
               '2019-09-01', '2019-09-01'],
              dtype='datetime64[ns]', name='Date', length=3781, freq=None)

In [151]:
stocks.index - MonthEnd()
stocks.index - BMonthEnd()
stocks.index - QuarterEnd()
stocks.index - QuarterBegin()

/Users/borisp/anaconda/envs/3.5/lib/python3.5/site-packages/pandas/tseries/index.py:814: PerformanceWarning: Non-vectorized DateOffset being applied to Series or DatetimeIndex
  "or DatetimeIndex", PerformanceWarning)

DatetimeIndex(['2004-06-01', '2004-06-01', '2004-06-01', '2004-06-01',
               '2004-06-01', '2004-06-01', '2004-06-01', '2004-06-01',
               '2004-06-01', '2004-06-01',
               ...
               '2016-09-01', '2016-09-01', '2016-09-01', '2016-09-01',
               '2016-09-01', '2016-09-01', '2016-09-01', '2016-09-01',
               '2016-09-01', '2016-09-01'],
              dtype='datetime64[ns]', name='Date', length=3041, freq=None)

In [157]:
stocks.index - YearBegin()

DatetimeIndex(['2004-01-01', '2004-01-01', '2004-01-01', '2004-01-01',
               '2004-01-01', '2004-01-01', '2004-01-01', '2004-01-01',
               '2004-01-01', '2004-01-01',
               ...
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01'],
              dtype='datetime64[ns]', name='Date', length=3041, freq=None)

## The `Timedelta` Object

- timestamp的时间差(difference in time)：Timedelta
    - 直接让timestamp/date做减法，其实是储存在了一个叫pandas.tslib.Timedelta的Object中
        - 如 Timedelta('-12 days +09:41:33')
    - 可以用Timedelta()定义时间差是多少
        - pd.Timedelta(weeks = 8, days = 3, hours = 12, minutes = 45)
        - pd.Timedelta("14 days 6 hours 12 minutes 49 seconds")
    - 可以用Date+Timedelta得到新的日期
        - shipping["Twice As Long"] = shipping["delivery_date"] + shipping["Delivery Time"]
    - 可以配合Mask截取dataframe
        - mask = shipping["Delivery Time"] == "3423 days"
        - shipping[mask]

In [25]:
timeA = pd.Timestamp("2016-03-31 04:35:16 PM")
timeB = pd.Timestamp("2016-03-20 02:16:49 AM")

In [26]:
timeB - timeA

Timedelta('-12 days +09:41:33')

In [217]:
type(timeA - timeB)

pandas.tslib.Timedelta

In [218]:
type(timeA)

pandas.tslib.Timestamp

In [227]:
pd.Timedelta(weeks = 8, days = 3, hours = 12, minutes = 45)

Timedelta('59 days 12:45:00')

In [226]:
pd.Timedelta("14 days 6 hours 12 minutes 49 seconds")

Timedelta('14 days 06:12:49')

## `Timedeltas` in a Dataset

In [240]:
shipping = pd.read_csv("ecommerce.csv", index_col = "ID", parse_dates = ["order_date", "delivery_date"])
shipping.head(3)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [243]:
shipping["Delivery Time"] = shipping["delivery_date"] - shipping["order_date"]

In [244]:
shipping.head(3)

   order_date delivery_date  Delivery Time
ID
1  1998-05-24    1999-02-05       257 days
2  1992-04-22    1998-03-06      2144 days
4  1991-02-10    1992-08-26       563 days

In [249]:
shipping["Twice As Long"] = shipping["delivery_date"] + shipping["Delivery Time"]

In [250]:
shipping.head(3)

   order_date delivery_date  Delivery Time Twice As Long
ID
1  1998-05-24    1999-02-05       257 days    1999-10-20
2  1992-04-22    1998-03-06      2144 days    2004-01-18
4  1991-02-10    1992-08-26       563 days    1994-03-12

In [251]:
shipping.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
Delivery Time    timedelta64[ns]
Twice As Long     datetime64[ns]
dtype: object

In [257]:
mask = shipping["Delivery Time"] == "3423 days"
shipping[mask]

    order_date delivery_date  Delivery Time Twice As Long
ID
130 1990-04-02    1999-08-16      3423 days    2008-12-29

In [260]:
shipping["Delivery Time"].min()

Timedelta('8 days 00:00:00')