这章不多，直接写在下面了

In [23]:
import pandas as pd

## Quick Object Conversions

pd.read_csv("file") 如果在网上，一般找到csv下载Link复制即可

In [24]:
baby_names = pd.read_csv("https://data.cityofnewyork.us/api/views/25th-nujf/rows.csv?accessType=DOWNLOAD")
baby_names.head(3)

   Year of Birth  Gender Ethnicity Child's First Name  Count  Rank
0           2011  FEMALE  HISPANIC          GERALDINE     13    75
1           2011  FEMALE  HISPANIC                GIA     21    67
2           2011  FEMALE  HISPANIC             GIANNA     49    42

## Export `DataFrame` to CSV File with the `.to_csv()` Method

导出csv：
- dataframe.to_csv("name.csv", index = False， columns = ["Name", "Frequency"],encoding="utf-8") #不写地址，直接放到current directory里面
- 若存的地址相同，会直接替换原有文件！
- index:是否保存index列
- columns：保存指定
- encoding:如何处理一些特殊符号，用Utf-8比较好

generate python list from dataframe

In [25]:
baby_names["Child's First Name"].tolist()[0:10]

['GERALDINE',
 'GIA',
 'GIANNA',
 'GISELLE',
 'GRACE',
 'GUADALUPE',
 'HAILEY',
 'HALEY',
 'HANNAH',
 'HAYLEE']

transform to one column dataframe

In [26]:
baby_names["Child's First Name"].to_frame()

      Child's First Name
0              GERALDINE
1                    GIA
2                 GIANNA
3                GISELLE
4                  GRACE
...                  ...
29459             Alayna
29460            Yaritza
29461             Mendel
29462              Isaac
29463            Alessia

[29464 rows x 1 columns]

- 转成一个comma seperated string, join可以定义用什么东西连接那这些分割后的部分
- 即“分隔符号”.join([一个string list])

In [29]:
", ".join(str(name) for name in baby_names["Child's First Name"])[0:2000]

'GERALDINE, GIA, GIANNA, GISELLE, GRACE, GUADALUPE, HAILEY, HALEY, HANNAH, HAYLEE, HAYLEY, HAZEL, HEAVEN, HEIDI, HEIDY, HELEN, IMANI, INGRID, IRENE, IRIS, ISABEL, ISABELA, ISABELLA, ISABELLE, ISIS, ITZEL, IZABELLA, JACQUELINE, JADA, JADE, JAELYNN, JAMIE, JANELLE, JASLENE, JASMIN, JASMINE, JAYDA, JAYLA, JAYLAH, JAYLEEN, JAYLENE, JAYLIN, JAYLYN, JAZLYN, JAZMIN, JAZMINE, JENNIFER, JESSICA, JIMENA, JOCELYN, JOHANNA, JOSELYN, JULIA, JULIANA, JULIANNA, JULIET, JULIETTE, JULISSA, KAELYN, KAILEY, KAILYN, KAITLYN, KAMILA, KAREN, KARLA, KATE, KATELYN, KATELYNN, KATHERINE, KATIE, KAYLA, KAYLEE, KAYLEEN, KAYLEIGH, KAYLIE, KAYLIN, KEILY, KELLY, KEYLA, KHLOE, KIARA, KIMBERLY, KRYSTAL, KYLEE, KYLIE, LAILA, LAURA, LAUREN, LAYLA, LEA, LEAH, LEILA, LEILANI, LESLEY, LESLIE, LESLY, LEYLA, LIA, LIANA, LILIANA, LILY, LINDSAY, LIZBETH, LONDON, LUCIA, LUNA, LUZ, MADELINE, MADELYN, MADISON, MAKAYLA, MARIA, MARIAH, MARIANA, MARILYN, MARISOL, MAYA, MEGAN, MELANIE, MELANY, MELISSA, MELODY, MIA, MIAH, MICHELLE, MIKAELA, MIKAYLA, MILA, MILEY, MIRANDA, MIRIAM, MYA, NADIA, NANCY, NAOMI, NATALIA, NATALIE, NATALY, NATASHA, NATHALIA, NATHALIE, NATHALY, NAYELI, NEVAEH, NICOLE, NINA, NOEMI, NYLA, OLIVIA, PAOLA, PENELOPE, PERLA, RACHEL, RAQUEL, REBECCA, RIHANNA, RILEY, ROSA, ROSE, ROSELYN, RUBY, SABRINA, SADIE, SAMANTHA, SAMARA, SARA, SARAH, SARAI, SARIAH, SASHA, SAVANNA, SAVANNAH, SCARLET, SCARLETT, SELENA, SERENITY, SHERLYN, SHIRLEY, SIENNA, SKYLA, SKYLAR, SOFIA, SOPHIA, SOPHIE, STACY, STELLA, STEPHANIE, STEPHANY, TATIANA, TAYLOR, TIANA, TIFFANY, VALENTINA, VALERIA, VALERIE, VANESSA, VERONICA, VICTORIA, VIOLET, VIVIANA, WENDY, XIMENA, YAMILET, YARETZI, ZOE, ZOEY, ABIGAIL, ADDISON, ADELE, ADELINE, ADINA, ADRIANA, ADRIANNA, AHUVA, ALESSANDRA, ALESSIA, ALEXA, ALEXANDRA, ALEXIS, ALICE, ALICIA, ALINA, ALISA, ALIZA, ALLISON, ALYSSA, AMANDA, AMELIA, AMELIE, AMINA, AMIRA, AMY, ANASTASIA, ANGELICA, ANGELINA, ANNA, ANNABEL, ANNABELLE, ARIANA, ARIANNA, ARIEL, ARIELA, ARIELLA, ASHLEY, ATARA, AUBREY, AUDREY, AUTUMN'

In [63]:
baby_names.to_csv("Baby Names.csv", index = False, columns = ["Name", "Frequency"], encoding = "utf-8")

## Import Excel File

# 读取excel
- 处理excel需要安装anaconda两个library: xlrd, openpyxl
- popular.to_excel(excel_file, sheet_name = "Popular Names", index = False， columns = ["Name", "Frequency"],encoding="utf-8")
- 读一个excel：  df = pd.read_excel("Data - Single Worksheet.xlsx")
- 读一个excel的多个sheet：
    - data = pd.read_excel("Data - Multiple Worksheets.xlsx", sheetname = "Data1")
    - data = pd.read_excel("Data - Multiple Worksheets.xlsx", sheetname = ["Data1","Data2"])
    - data = pd.read_excel("Data - Multiple Worksheets.xlsx", sheetname = [0,1])
    - data = pd.read_excel("Data - Multiple Worksheets.xlsx", sheetname = None) }导入所有sheet
- 如果将多个sheet存入一个变量，其实是存成一个dictionary,key: sheetname, value:dataframe

In [5]:
df = pd.read_excel("Data - Single Worksheet.xlsx")

In [6]:
data = pd.read_excel("Data - Multiple Worksheets.xlsx", sheetname = None)

C:\Users\sunka\AppData\Roaming\Python\Python36\site-packages\pandas\util\_decorators.py:188: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

In [7]:
type(data)

collections.OrderedDict

In [8]:
data

OrderedDict([('Data 1',   First Name Last Name           City Gender
              0    Brandon     James          Miami      M
              1       Sean   Hawkins         Denver      M
              2       Judy       Day    Los Angeles      F
              3     Ashley      Ruiz  San Francisco      F
              4  Stephanie     Gomez       Portland      F),
             ('Data 2',   First Name Last Name           City Gender
              0     Parker     Power        Raleigh      F
              1    Preston  Prescott   Philadelphia      F
              2    Ronaldo   Donaldo         Bangor      M
              3      Megan   Stiller  San Francisco      M
              4     Bustin    Jieber         Austin      F)])

## Export Excel File

# 存入excel
- baby_names = pd.read_csv("https://data.illinois.gov/api/views/9ean-aer9/rows.csv")
- 先要设置一个基础workbook: 
    - excel_file = pd.ExcelWriter("Baby Name Frequencies.xlsx")
- 然后再存
    - popular.to_excel(excel_file, sheet_name = "Popular Names", index = False,  columns = ["Name", "Frequency"])
- excel_file.save()
    - 最后是针对excel writer这个对象，进行保存！！！

In [124]:
baby_names = pd.read_csv("https://data.illinois.gov/api/views/9ean-aer9/rows.csv")
baby_names.head(3)

   Rank  Year         Name  Frequency
0     1  1980      Michael       3886
1     2  1980        Jason       2389
2     3  1980  Christopher       2273

In [131]:
popular = baby_names[baby_names["Frequency"] >= 2000]
unpopular = baby_names[baby_names["Frequency"] < 2000]

In [136]:
excel_file = pd.ExcelWriter("Baby Name Frequencies.xlsx")

In [137]:
popular.to_excel(excel_file, sheet_name = "Popular Names", index = False)
unpopular.to_excel(excel_file, sheet_name = "Unpopular Names", index = False, columns = ["Name", "Frequency"])

In [138]:
excel_file.save()

## Export Excel File

In [5]:
URL = "https://data.cityofnewyork.us/api/views/25th-nujf/rows.csv"
baby_names = pd.read_csv(URL)
baby_names.head(3)

   BRTH_YR    GNDR    ETHCTY         NM  CNT  RNK
0     2011  FEMALE  HISPANIC  GERALDINE   13   75
1     2011  FEMALE  HISPANIC        GIA   21   67
2     2011  FEMALE  HISPANIC     GIANNA   49   42

In [9]:
girls = baby_names[baby_names["GNDR"] == "FEMALE"]
boys = baby_names[baby_names["GNDR"] == "MALE"]

In [11]:
excel_file = pd.ExcelWriter("Baby Names.xlsx")

In [12]:
girls.to_excel(excel_file, sheet_name = "Girls", index = False)
boys.to_excel(excel_file, sheet_name = "Boys", index = False, columns = ["GNDR", "NM", "CNT"])

In [13]:
excel_file.save()