**Content**：
- Series: create by list, dictionary
- Series.values
- Series[[1:3]]
- series[["a","b"]] 
- Series.get(key = ["Moltres", "Meowth"])
- Series.idxmax()
- Series.sort_values(ascending = False, inplace = True)
- Series.head()
- Series.fail()
- Series.value_counts()
- Series.apply(function)
- Series.map(Sieres)
- Methods
    - len(series): return rows
    - type(series): return types: series
    - dir(series): return all attributes, methods, inlcuding hidden attributes ("." 后tab出来的为_ and _)
    - sorted(series): small-->large/ anphalbic排序
    - list(series): turn it to list
    - dict(series): turn it to dictionary
    - max(series): alphabatically last/largest
    - min(series)
- Attributes
    - Series.values
    - Series.index
    - Series.is_unique
    - Series.nidm
    - Series.shape
    - Series.size
    - Series.name
- create
    - Series = pd.read_csv("pokemon.csv", usecols = ["Pokemon"], squeeze = True)
    - Series = pd.Series(list)

In [1]:
import pandas as pd

## Create A `Series` Object from A Python List

Series与list对比：
- 都限定于同一种data type
- 区别是series 给定了一个Index,而且这个index可以是别的数据类型（不一定是0,1,2,3）
- Series会直接显示当前的这个consistent data type是什么，比如object其实就是string的意思

In [2]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Rum Raisin"]

pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [3]:
lottery = [4, 8, 15, 16, 23, 42]

pd.Series(lottery)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
registrations = [True, False, False, False, True]

pd.Series(registrations)

0     True
1    False
2    False
3    False
4     True
dtype: bool

## Create A `Series` Object from a Dictionary

由dictionary转，index就是key

In [5]:
webster = {"Aardvark" : "An animal",
           "Banana" : "A delicious fruit",
           "Cyan" : "A color"}

pd.Series(webster)

Aardvark            An animal
Banana      A delicious fruit
Cyan                  A color
dtype: object

## Attributes of Series

- ".values": items in series
- ".index": indexs of series
- ".dtype": data type of the series

In [6]:
about_me = ["Smart", "Handsome", "Charming", "Brilliant", "Humble"]
s = pd.Series(about_me)
s

0        Smart
1     Handsome
2     Charming
3    Brilliant
4       Humble
dtype: object

In [7]:
s.values

array(['Smart', 'Handsome', 'Charming', 'Brilliant', 'Humble'],
      dtype=object)

In [8]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [9]:
s.dtype

dtype('O')

## Intro to Methods

- .sum() 求和数列
- .product()求积数列
- .mean()

In [10]:
prices = [2.99, 4.45, 1.36]
s = pd.Series(prices)
s

0    2.99
1    4.45
2    1.36
dtype: float64

In [11]:
s.sum()

8.8

In [12]:
s.product()

18.095480000000006

In [13]:
s.mean()

2.9333333333333336

## Parameters and Arguments

- pd.Series() 在括号里点shift+tab看里面看既定参数顺序
- 点“.”之后 点tab 看可选项
- pd.Series(data=, index=) 可以输入两个list,一个作为index

In [14]:
# Difficulty - Easy, Medium, Hard
# Volume - 1 through 10
# Subtitles - True / False

In [15]:
fruits = ["Apple", "Orange", "Plum", "Grape", "Blueberry"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]

pd.Series(fruits, weekdays)
pd.Series(data = fruits, index = weekdays)
pd.Series(fruits, index = weekdays)

Monday           Apple
Tuesday         Orange
Wednesday         Plum
Thursday         Grape
Friday       Blueberry
dtype: object

In [16]:
fruits = ["Apple", "Orange", "Plum", "Grape", "Blueberry", "Watermelon"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Monday"]

pd.Series(data = fruits, index = weekdays)

Monday            Apple
Tuesday          Orange
Wednesday          Plum
Thursday          Grape
Friday        Blueberry
Monday       Watermelon
dtype: object

## Import `Series` with the `read_csv` Method

- usecols: what columns to import
- squeeze: use this column as a series rather than dataframe

In [17]:
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"], squeeze = True)
pokemon.head(5)

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [18]:
pokemon.shape

(721,)

In [19]:
google = pd.read_csv("google_stock_price.csv", squeeze = True)
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

## The `.head()` and `.tail()` Methods

.head(), tail()返回前/后5行，也可以指定返回行数

In [20]:
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"], squeeze = True)
google = pd.read_csv("google_stock_price.csv", squeeze = True)

In [21]:
pokemon.head(1)

0    Bulbasaur
Name: Pokemon, dtype: object

In [22]:
google.tail(1)

3011    782.22
Name: Stock Price, dtype: float64

## Python Built-In Functions

- len(series): return rows
- type(series): return types: series
- dir(series): return all attributes, methods, inlcuding hidden attributes ("." 后tab出来的为_ _and_ _)
- sorted(series): small-->large/ anphalbic排序
- list(series): turn it to list
- dict(series): turn it to dictionary
- max(series): alphabatically last/largest
- min(series)

In [23]:
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"], squeeze = True)
google = pd.read_csv("google_stock_price.csv", squeeze = True)

In [24]:
len(pokemon)
len(google)

3012

In [25]:
type(pokemon)

pandas.core.series.Series

In [26]:
dir(pokemon)[0:10]

['T',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__']

In [27]:
sorted(pokemon)
sorted(google)[0:10]

[49.95, 50.07, 50.12, 50.7, 50.74, 50.95, 51.1, 51.1, 51.13, 52.38]

In [28]:
list(pokemon)[0:10]

['Bulbasaur',
 'Ivysaur',
 'Venusaur',
 'Charmander',
 'Charmeleon',
 'Charizard',
 'Squirtle',
 'Wartortle',
 'Blastoise',
 'Caterpie']

In [29]:
dict(google)[0]

50.12

In [30]:
max(pokemon)
min(pokemon)

'Abomasnow'

In [31]:
max(google)

782.22

In [32]:
min(google)

49.95

## More `Series` Attributes

- .values
- .index
- dtype: item data type of series
- .is_unique: is every item of series unique?
- .nidm: number of dimensions (series: 1)
- .shape: return tuples (nrow, ncol),series的话(norw,),不显示ncol的“1”
- .size: how many records/rows (这个函数会数上Null)
- .name: name of series, 可以用series.name = x来改名

In [33]:
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"], squeeze = True)
google = pd.read_csv("google_stock_price.csv", squeeze = True)

In [34]:
pokemon.values
google.values

array([ 50.12,  54.1 ,  54.65, ..., 773.18, 771.61, 782.22])

In [35]:
pokemon.index
google.index

RangeIndex(start=0, stop=3012, step=1)

In [36]:
pokemon.dtype
google.dtype

dtype('float64')

In [37]:
pokemon.is_unique
google.is_unique

False

In [38]:
pokemon.ndim
google.ndim

1

In [39]:
pokemon.shape
google.shape

(3012,)

In [40]:
pokemon.size
google.size

3012

In [41]:
pokemon.name = "Pocket Monsters"

In [42]:
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pocket Monsters, dtype: object

## The `.sort_values()` Method

- series.sort_values()按value排，.sort_index()按index排
- series.sort_values(ascending = True, inplace =False): inplace表示是否替换原有的series变量
- series.sort_value().head() 可以看排序好之后的前几个

In [43]:
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"], squeeze = True)
google = pd.read_csv("google_stock_price.csv", squeeze = True)

In [44]:
pokemon.sort_values().head()

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
Name: Pokemon, dtype: object

In [45]:
pokemon.sort_values(ascending = False).tail()

680    Aegislash
616     Accelgor
358        Absol
62          Abra
459    Abomasnow
Name: Pokemon, dtype: object

In [46]:
google.sort_values(ascending = False).head(1)

3011    782.22
Name: Stock Price, dtype: float64

In [47]:
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

## The `inplace` Parameter

In [48]:
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"], squeeze = True)
google = pd.read_csv("google_stock_price.csv", squeeze = True)

In [49]:
google.head(3)

0    50.12
1    54.10
2    54.65
Name: Stock Price, dtype: float64

In [50]:
google = google.sort_values()

In [51]:
google.head(3)

11    49.95
9     50.07
0     50.12
Name: Stock Price, dtype: float64

In [52]:
google.sort_values(ascending = False, inplace = True)

In [53]:
google.head(3)

3011    782.22
2859    776.60
3009    773.18
Name: Stock Price, dtype: float64

## The `.sort_index()` Method

In [54]:
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"], squeeze = True)
google = pd.read_csv("google_stock_price.csv", squeeze = True)

In [55]:
pokemon.sort_values(ascending = False, inplace = True)

In [56]:
pokemon.head(3)

717     Zygarde
633    Zweilous
40        Zubat
Name: Pokemon, dtype: object

In [57]:
pokemon.sort_index(ascending = True, inplace = True)

## Python's `in` Keyword

- in: 看a在不在series中,返回T/F

In [58]:
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"], squeeze = True)
google = pd.read_csv("google_stock_price.csv", squeeze = True)

In [59]:
100 in [1, 2, 3, 4, 5]

False

In [60]:
pokemon.head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Pokemon, dtype: object

In [61]:
100 in pokemon
100 in pokemon.index

True

In [62]:
pokemon.index

RangeIndex(start=0, stop=721, step=1)

In [63]:
"Digimon" in pokemon.values

False

## Extract Values by Index Position

- series[key1]:返回series中key1对应的item
- serires[ [key3,key2,key8 ]   ]:返回一个新的series, 由item3,item2,item8组成
- 按位置:
    - series[30:50]: 返回30到49
    - series[:50]: 从头到49,
    - series[-30:] 倒数第30到最开始
- 按index: 
    - series[["a","b"]] 返回a,b两个key对应的value array, 如果b不存在与series key中，则返回NaN

In [64]:
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"], squeeze = True)
google = pd.read_csv("google_stock_price.csv", squeeze = True)

In [65]:
pokemon.head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Pokemon, dtype: object

In [66]:
pokemon[1]

pokemon[[100, 200, 300]]

pokemon[50:101]

pokemon[:50]

pokemon[-30:]

pokemon[-30 : -10]

691     Clauncher
692     Clawitzer
693    Helioptile
694     Heliolisk
695        Tyrunt
696     Tyrantrum
697        Amaura
698       Aurorus
699       Sylveon
700      Hawlucha
701       Dedenne
702       Carbink
703         Goomy
704       Sliggoo
705        Goodra
706        Klefki
707      Phantump
708     Trevenant
709     Pumpkaboo
710     Gourgeist
Name: Pokemon, dtype: object

## Extract Values by Index Label

- 若用series[[]]的方式取array，如果不存在此key，则会返回NaN
- index选value和key选value的不同之处： key选[]两边都是包含的，如pokemon["Bulbasaur" : "Pikachu"]会包含"Pikachu"对应的value

In [67]:
pokemon = pd.read_csv("pokemon.csv", index_col = "Pokemon", squeeze = True)
pokemon.head(3)

Pokemon
Bulbasaur    Grass
Ivysaur      Grass
Venusaur     Grass
Name: Type, dtype: object

In [68]:
pokemon[[100, 134]]

Pokemon
Electrode    Electric
Jolteon      Electric
Name: Type, dtype: object

In [69]:
pokemon["Bulbasaur"]

'Grass'

In [70]:
pokemon["Ditto"]

'Normal'

In [71]:
pokemon[["Charizard", "Jolteon"]]

Pokemon
Charizard        Fire
Jolteon      Electric
Name: Type, dtype: object

In [72]:
pokemon[["Blastoise", "Venusaur", "Meowth"]]

Pokemon
Blastoise     Water
Venusaur      Grass
Meowth       Normal
Name: Type, dtype: object

In [73]:
pokemon["Bulbasaur" : "Pikachu"]

Pokemon
Bulbasaur        Grass
Ivysaur          Grass
Venusaur         Grass
Charmander        Fire
Charmeleon        Fire
Charizard         Fire
Squirtle         Water
Wartortle        Water
Blastoise        Water
Caterpie           Bug
Metapod            Bug
Butterfree         Bug
Weedle             Bug
Kakuna             Bug
Beedrill           Bug
Pidgey          Normal
Pidgeotto       Normal
Pidgeot         Normal
Rattata         Normal
Raticate        Normal
Spearow         Normal
Fearow          Normal
Ekans           Poison
Arbok           Poison
Pikachu       Electric
Name: Type, dtype: object

## The `.get()` Method on a `Series`

- 截取的另一种方法：用get()函数。跟直接index截取基本相同
- 如果输入不存在的key如pokemon.get(key = "Charizard")则会直接报错
- 若不存在可以让其return default参数的内容
    - 如pokemon.get(key = "Charizard", default = "This is not a Pokemon")
- 若key=[, , , ]一列数,其中由不存在的Key，输出结果直接NaN（而非default），但是这次不会报错了。如果所有的key都不存在，也会全部输出NaN（而非default）
- 如果都存在，与直接截取结果相同

In [74]:
pokemon = pd.read_csv("pokemon.csv", index_col = "Pokemon", squeeze = True)
pokemon.sort_index(inplace = True)
pokemon.head(3)

Pokemon
Abomasnow      Grass
Abra         Psychic
Absol           Dark
Name: Type, dtype: object

In [75]:
pokemon.get(key = ["Moltres", "Meowth"])

Pokemon
Moltres      Fire
Meowth     Normal
Name: Type, dtype: object

In [76]:
pokemon.get(key = "Charizard", default = "This is not a Pokemon")

'Fire'

In [77]:
pokemon.get(key = "jksajk", default = "This is not a Pokemon")

'This is not a Pokemon'

## Math Methods on `Series` Objects

series的其他统计量属性

In [78]:
google = pd.read_csv("google_stock_price.csv", squeeze = True)
google.head(3)

0    50.12
1    54.10
2    54.65
Name: Stock Price, dtype: float64

In [79]:
google.count()

3012

In [80]:
len(google)

3012

In [81]:
google.sum()

1006942.0

In [82]:
google.mean()

334.31009296148744

In [83]:
google.sum() / google.count()

334.3100929614874

In [84]:
google.std()

173.18720477113106

In [85]:
google.min()

49.95

In [86]:
google.max()

782.22

In [87]:
google.median()

283.315

In [88]:
google.mode()

0    291.21
dtype: float64

In [89]:
google.describe()

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

## The `.idxmax()` and `.idxmin()` Methods

- idxmax表示最大那一value项对应的index，idx就是Index缩写
    - google.idxmax()：google最大value对应的index是什么
    - google[google.idxmin()]: 最小值

In [90]:
google = pd.read_csv("google_stock_price.csv", squeeze = True)

In [91]:
google.max()

782.22

In [92]:
google.min()

49.95

In [93]:
google.idxmax()

3011

In [94]:
google[3011]

782.22

In [95]:
google.idxmin()

11

In [96]:
google[11]

49.95

In [97]:
google[google.idxmin()]

49.95

## The `.value_counts()` Method

.value_counts() 总接series每个unqiue项对应的个数series

In [98]:
pokemon = pd.read_csv("pokemon.csv", index_col = "Pokemon", squeeze = True)
pokemon.head(3)

Pokemon
Bulbasaur    Grass
Ivysaur      Grass
Venusaur     Grass
Name: Type, dtype: object

In [99]:
pokemon.value_counts()

Water       105
Normal       93
Grass        66
Bug          63
Psychic      47
Fire         47
Rock         41
Electric     36
Ground       30
Poison       28
Dark         28
Fighting     25
Dragon       24
Ghost        23
Ice          23
Steel        22
Fairy        17
Flying        3
Name: Type, dtype: int64

In [100]:
pokemon.value_counts().sum()

721

In [101]:
pokemon.count()

721

In [102]:
pokemon.value_counts(ascending = True)

Flying        3
Fairy        17
Steel        22
Ice          23
Ghost        23
Dragon       24
Fighting     25
Dark         28
Poison       28
Ground       30
Electric     36
Rock         41
Fire         47
Psychic      47
Bug          63
Grass        66
Normal       93
Water       105
Name: Type, dtype: int64

## The `.apply()` Method

apply对series每个value采取相同的function处理，返回处理后的series
- google.apply(function_name)
- 比如： google.apply(lambda stock_price : stock_price + 1)

In [103]:
google = pd.read_csv("google_stock_price.csv", squeeze = True)
google.head(6)

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
5    53.90
Name: Stock Price, dtype: float64

In [104]:
def classify_performance(number):
    if number < 300:
        return "OK"
    elif number >= 300 and number < 650:
        return "Satisfactory"
    else:
        return "Incredible!"

In [105]:
google.apply(classify_performance).tail()

3007    Incredible!
3008    Incredible!
3009    Incredible!
3010    Incredible!
3011    Incredible!
Name: Stock Price, dtype: object

In [106]:
google.head(6)

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
5    53.90
Name: Stock Price, dtype: float64

In [107]:
google.apply(lambda stock_price : stock_price + 1)

0        51.12
1        55.10
2        55.65
3        53.38
4        53.95
         ...
3007    773.88
3008    772.07
3009    774.18
3010    772.61
3011    783.22
Name: Stock Price, Length: 3012, dtype: float64

## The `.map()` Method

这个就比较高端了：
- a.map(b),就是按照b的对应法则，从a进行map过去，返回a这个series按照b法则一一对应的新series.
- b可以是一个以a为index的series,也可以是以a为key的dictionary
    - 比如：a是部分用户名，b是一个用户名key对应年龄value的dict/series。那返回的就是a这部分用户名一一对应的 年龄series

In [108]:
pokemon_names = pd.read_csv("pokemon.csv", usecols = ["Pokemon"], squeeze = True)
pokemon_names.head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Pokemon, dtype: object

In [109]:
pokemon_types = pd.read_csv("pokemon.csv", index_col = "Pokemon", squeeze = True)
pokemon_types.head(3)

Pokemon
Bulbasaur    Grass
Ivysaur      Grass
Venusaur     Grass
Name: Type, dtype: object

In [110]:
pokemon_names.map(pokemon_types)

0        Grass
1        Grass
2        Grass
3         Fire
4         Fire
        ...
716       Dark
717     Dragon
718       Rock
719    Psychic
720       Fire
Name: Pokemon, Length: 721, dtype: object

In [111]:
pokemon_names = pd.read_csv("pokemon.csv", usecols = ["Pokemon"], squeeze = True)
pokemon_types = pd.read_csv("pokemon.csv", index_col = "Pokemon", squeeze = True).to_dict()

In [112]:
pokemon_names.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [113]:
pokemon_types["Bulbasaur"]

'Grass'

In [114]:
pokemon_names.map(pokemon_types)

0        Grass
1        Grass
2        Grass
3         Fire
4         Fire
        ...
716       Dark
717     Dragon
718       Rock
719    Psychic
720       Fire
Name: Pokemon, Length: 721, dtype: object